body {
    background-color: white;
}
h1 {
    background-color: rgb(11, 135, 218);
    font-size: 50px;
    color: white;
    text-align: center;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 8px 8px 0px 2px black;
    font-weight: bold;
}
.bloco_nome {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto {
    border-radius: 50px;
}
ul {
    font-size: 20px;
}
h3 {
    font-size: 35px;
}
.descrição {
    font-size: 20px;
}